:root {
  --color-primary: #1c2121;
  --color-secondary: #e6e8e6;
  --color-bg-line: #3b4750;
  --color-green: #169873;
  --color-error-bg: #d61c4e;
  --color-error: #e6e8e6;

  --color-red: #d61c4e;
  --color-white: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 9999px;
  cursor: pointer;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  background-color: var(--color-primary);
  /* overflow: hidden; */
}

#root {
  position: relative;
}

/* only screen and
only screen and
only screen and */

/* @media only screen and (max-width: 75em) {
  html {
    font-size: 59%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
} */
