.browseRooms {
  padding: 2rem;
}

.browseRooms__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browseRooms__header--heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.browseRooms__header--button {
  display: flex;
  background-color: #e6e8e6;
  color: #2c3333;
  padding: 1rem 3rem;
  border-radius: 5px;
  user-select: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: normal;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.2px;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

.browseRooms__header--button svg {
  color: #2c3333;
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.7rem;
  transition: all 0.2s;
}

.browseRooms__header--button:hover {
  background-color: #169873;
  color: #e6e8e6;
}

.browseRooms__header--button:hover svg {
  color: #e6e8e6;
}

.browseRooms__rooms {
  padding: 3rem 0;
}

@media (max-width: 530px) {
  .browseRooms__header {
    display: flex;
    flex-direction: column-reverse;
  }

  .browseRooms__header--heading {
    margin-top: 1.5rem;
  }

  .browseRooms__header--button {
    justify-content: center;
    width: 100%;
  }
}

/* ROOM CARD STYLES START*/
/* ROOM CARD STYLES START*/
/* ROOM CARD STYLES START*/

.roomCard {
  background-color: #1c2121;
  color: #e6e8e6;
  padding: 0 2rem;
  border-radius: 5px;
  cursor: default;
}

.roomCard__name {
  text-align: center;
  font-size: 2.3rem;
  position: relative;
  padding: 1rem 0;
}

.roomCard__description {
  text-align: justify;
  padding: 1rem 0;
  /* margin-top: 0.8rem; */
  font-size: 1.4rem;
  position: relative;
}

.roomCard__description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #e6e8e6;
}

.roomCard__button--container {
  text-align: center;
}

.roomCard__button {
  color: #e6e8e6;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: 1px solid #e6e8e6;
  background-color: transparent;
  font-size: 1.8rem;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 0.6rem 4rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

.roomCard__button:hover {
  background-color: #e6e8e6;
  color: #1c2121;
}

.roomCard__bottom {
  transform-origin: top;
  transform: scaleY(0);
  max-height: 0;
  transition: all 0.5s;
}

.roomCard:hover > .roomCard__bottom {
  transform: scaleY(100%);
  max-height: 30rem;
}

@media (hover: none) {
  .roomCard__bottom {
    transform-origin: top;
    transform: scaleY(100%);
    max-height: 30rem;
  }

  .roomCard__button {
    background-color: #e6e8e6;
    color: #1c2121;
  }
}

/* ROOM CARD STYLES END*/
/* ROOM CARD STYLES END*/
/* ROOM CARD STYLES END*/
