:root {
  --color-primary: #1c2121;
  --color-secondary: #e6e8e6;
  --color-bg-line: #3b4750;
  --color-green: #169873;
  --color-error-bg: #d61c4e;
  --color-error: #e6e8e6;

  --color-red: #d61c4e;
  --color-white: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-secondary);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-bg-line);
}

.navbar__logo {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  user-select: none;
}

.navbar__icon {
  display: inline-block;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 100%;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.navbar__icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__icon svg {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 530px) {
  .navbar__icon {
    margin-left: -2px;
  }
}
