:root {
  --color-primary: #1c2121;
  --color-secondary: #e6e8e6;
  --color-bg-line: #3b4750;
  --color-green: #169873;
  --color-error-bg: #d61c4e;
  --color-error: #e6e8e6;

  --color-red: #d61c4e;
  --color-white: #fff;
}

.overlay {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 80%;
  height: 60%; */
  background-color: var(--color-white);
  overflow: hidden;
  border-radius: 5px;
}

.overlay__close {
  position: absolute;
  top: 6px;
  right: 1px;
}

.overlay__close svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.overlay__close svg:hover {
  color: var(--color-red);
}

/* CREATE ROOM (START) */
/* CREATE ROOM (START) */
/* CREATE ROOM (START) */

.createRoom__container {
  padding: 5rem 8rem;
}

.createRoom__heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);
  padding-bottom: 0.7rem;
  margin-bottom: 1rem;
  position: relative;
}

.createRoom__heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
  background-color: var(--color-primary);
}

.createRoom__form {
  overflow: hidden;
  min-width: 50rem;
}

.createRoom__form--input,
.createRoom__form--input:focus {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color-secondary);
  padding: 1.2rem 1.5rem;
  font-size: 1.8rem;
  position: relative;
  margin-top: 2rem;
}

.createRoom__form--textarea,
.createRoom__form--textarea:focus {
  font-family: "Lato", sans-serif;
  resize: none;
  cursor: auto;
  word-wrap: break-word;
  text-align: justify;
  font-size: 1.6rem;
}

.createRoom__form--textarea::-webkit-scrollbar-thumb,
.createRoom__form--textarea:focus::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

/* background-clip: padding-box; */

.createRoom__form--input-error {
  /* display: inline-block; */
  background-color: var(--color-error-bg);
  color: var(--color-error);
  padding: 1px 1.5rem;
  font-size: 1.2rem;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.4s;
}

.createRoom__form--input-error-visible {
  transform: scaleY(100%);
}

.createRoom__form--button {
  margin: 2rem 0 0 auto;
  display: block;
  background-color: var(--color-secondary);
  color: #757575;
  outline: none;
  border: none;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.6s, color 0.3s;
}

.createRoom__form--button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(8%);
  background-color: var(--color-green);
  transition: transform 0.6s;
}

.createRoom__form--button-error::after {
  background-color: var(--color-error-bg);
}
.createRoom__form--button:hover {
  background-color: transparent;
  color: var(--color-secondary);
}

.createRoom__form--button:hover::after {
  transform: scaleY(100%);
  z-index: -1;
}

@media only screen and (max-width: 630px) {
  .createRoom__container {
    padding: 5rem 5rem;
  }
}

@media only screen and (max-width: 550px) {
  .createRoom__container {
    padding: 3rem 2rem;
  }

  .createRoom__form {
    min-width: 80vw;
  }
}

/* CREATE ROOM (END) */
/* CREATE ROOM (END) */
/* CREATE ROOM (END) */

/* INFO OVERLAY (START) */
/* INFO OVERLAY (START) */
/* INFO OVERLAY (START) */
.infoOverlay {
  padding: 5rem 4rem;
}

.infoOverlay__heading {
  margin-bottom: 3rem;
  text-align: center;
}

.infoOverlay__heading--heart {
  color: var(--color-error-bg);
}

.infoOverlay__link:link,
.infoOverlay__link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  font-size: 2rem;
  margin-top: 1rem;
  overflow: hidden;
}

.infoOverlay__link--linkedin {
  border: 1px solid #0077b7;
  color: #0077b7;
}

.infoOverlay__link--linkedin div {
  background-color: #0077b7;
}

.infoOverlay__link--linkedin:hover {
  background-color: #0077b7;
  color: #fff;
}

.infoOverlay__link--github {
  border: 1px solid #000000;
  color: #000000;
}

.infoOverlay__link--github img {
  background-color: #000000;
}

.infoOverlay__link--github:hover {
  background-color: #000000;
  color: #fff;
}

.infoOverlay__link--img {
  height: 41px;
  /* height: 100%; */
  margin-right: 0.6rem;
}

.infoOverlay__link--text {
  height: 100%;
  padding: 0;
}
/* INFO OVERLAY (END) */
/* INFO OVERLAY (END) */
/* INFO OVERLAY (END) */
