.overlay {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
}

.overlay__close {
  position: absolute;
  top: 4px;
  right: 1px;
}

.overlay__close svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.overlay__close svg:hover {
  color: red;
}
